# Insert the following snippet into your project .npmrc

@airleadrepo:registry=https://europe-west3-npm.pkg.dev/airlead-checkout/airlead-node-repo/
//europe-west3-npm.pkg.dev/airlead-checkout/airlead-node-repo/:always-auth=true
